* {
    font-family: Arial;
    box-sizing: border-box;
}

.board {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 555px;
    height: 545px;
    border: 2px solid black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.board--row {
    height: 60px;
    display: table;
    margin: 0 auto;
}

.white {
    border: 1px solid black;
    width: 60px;
    height: 100%;
    display: inline-block;
}

.black {
    background-color: black;
    width: 60px;
    height: 100%;
    display: inline-block;
}

.letter {
    display: inline-block;
    width: 60px;
}

.number {
    width: 30px;
    height: 60px;
    display: table-cell;
    font-size: 18px;
    font-weight: bold;
    vertical-align: middle;
}

.revers-number {
    width: 30px;
    display: table-cell;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(180deg);
    height: 60px;
    vertical-align: middle;
}

.revers-letters {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;

}

.letters {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}